<a href="https://colab.research.google.com/github/rlopezortega/Programacion/blob/main/DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

data = {
    'Nombre': ['Alex', 'Andrea', 'Selene', 'Judith', 'Hugo', 'Martina'],
    'Edad': [19, 20, 16, 14, 17, 18],
    'Aplicació': ["Instagram", "Tik Tok", "Instagram", "Whatsapp", "Whatsapp", "Tik Tok"],
    'Ús aplicació': [2, 3, 4, 7, 3, 5]
}

dataframe = pd.DataFrame(data)

# Crear una nueva columna 'Edat2' sumando 2 a la columna 'Edad'
data['Ús mòbil'] = [4, 5, 8, 10, 7, 8 ]

print(dataframe)

mitja_de_ús_de_mòbil = data['Ús mòbil'].mean().round(2)

print("La mitja d'ús de mòbil és:", mitja_de_ús_de_mòbil)

    Nombre  Edad  Aplicació  Ús aplicació
0     Alex    19  Instagram             2
1   Andrea    20    Tik Tok             3
2   Selene    16  Instagram             4
3   Judith    14   Whatsapp             7
4     Hugo    17   Whatsapp             3
5  Martina    18    Tik Tok             5

AttributeError: 'list' object has no attribute 'mean'