<a href="https://colab.research.google.com/github/rlopezortega/Programacion/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
llista = ["llet" , "pa" , "peix" , "nutella" , "4" , "15" , "cervesa"]

print(llista)
print(llista[2])
print(llista[6])

llista.remove("llet") #Para eliminar algo
print(llista)

['llet', 'pa', 'peix', 'nutella', '4', '15', 'cervesa']
peix
cervesa
['pa', 'peix', 'nutella', '4', '15', 'cervesa']

In [ ]:
llista = ["llet" , "pa" , "peix" , "nutella" , "4" , "15" , "cervesa"]

llista.pop (2)
print(llista)

llista.append("chupa chups")
print(llista)

str(llista.sort())
print(llista)
len(llista)

['llet', 'pa', 'nutella', '4', '15', 'cervesa']
['llet', 'pa', 'nutella', '4', '15', 'cervesa', 'chupa chups']
['15', '4', 'cervesa', 'chupa chups', 'llet', 'nutella', 'pa']

7

In [ ]:
setmana = ["dilluns" , "dimarts" , "dimecres" , "divendres"]

print(setmana)

setmana.append("dissabte")
setmana.append("diumenge")
print(setmana)

setmana.insert(3, "dijous")
print(setmana)

setmana.append("divendres")
setmana.append("divendres")
print(setmana)

x=setmana.count("divendres")
print(x)

setmana.pop(8)
setmana.pop(7)
print(setmana)

print("El numero de divendres que hi habia abans de borrar-los eran:", (x)) #Aunque ponga la coma no sale

['dilluns', 'dimarts', 'dimecres', 'divendres']
['dilluns', 'dimarts', 'dimecres', 'divendres', 'dissabte', 'diumenge']
['dilluns', 'dimarts', 'dimecres', 'dijous', 'divendres', 'dissabte', 'diumenge']
['dilluns', 'dimarts', 'dimecres', 'dijous', 'divendres', 'dissabte', 'diumenge', 'divendres', 'divendres']
3
['dilluns', 'dimarts', 'dimecres', 'dijous', 'divendres', 'dissabte', 'diumenge']
El numero de divendres que hi habia abans de borrar-los eran: 3

In [ ]:
x= range(3,20,2)
for i in x:
  print(i)

3
5
7
9
11
13
15
17
19

In [ ]:
x= range(32,18,-2)
for i in x:
  print(i)

32
30
28
26
24
22
20

In [ ]:
llista_1= [7, 5, 28, 0, 11, 12, 4]
print(max(llista_1))
print("_________________________________________________________________________________________________________________________________________________")
print(min(llista_1))
print("            ")
print(sum(llista_1))

28
_________________________________________________________________________________________________________________________________________________
0

67

In [ ]:
setmana=("Dilluns", "Dimarts", "Dimecres")
for dia in setmana:
  print(dia)

print("S'ha acabat!")

Dilluns
Dimarts
Dimecres
S'ha acabat!

In [ ]:
abecedario= ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j", "k", "l" ,"m", "n", "ñ", "o", "p", "q", "r", "s", "t", "u", "v", "w", "x", "y", "z"]
for letras in abecedario:
  x=letras.upper() #Para poner en mayúscula
  print(x)

A
B
C
D
E
F
G
H
I
J
K
L
M
N
Ñ
O
P
Q
R
S
T
U
V
W
X
Y
Z

In [ ]:
nombres= [1,4,6,3]
nombres.sort() #Para ordenar
print(nombres)

[1, 3, 4, 6]

In [ ]:
salts= list(range(0, 28, +3)) #Para ir sumando y depende del último número va para delante o atrás. Después si pones más o menos te suma o resta

print(salts)

saltos_dos= list(range(32, 18, -2))

print(saltos_dos)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27]
[32, 30, 28, 26, 24, 22, 20]

In [ ]:
persones= ["Roger", "Lidia", "Neus", "Marc", "Anna", "Arnau", "Hector", "Silvia"]
for noms in persones:
  print("La persona es diu:", (noms))

TypeError: 'list' object is not callable